<ion-header>
  <ion-toolbar>
    <div class="d-flex justify-content-between align-items-center">
      <div class="pointer p-2">
          <ion-icon name="arrow-back-outline" (click)="utility.goBack()"></ion-icon>
      </div>
      <div>
        <ion-img src="assets/images/logo.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <!-- <h4>{{utility.PageName}}</h4> -->
      </div>
      <div class="p-2">
        <ion-icon name="diamond-outline" (click)="Anticipate()"></ion-icon>
      </div>
      <!-- <ion-searchbar
        search-icon="search-circle"
        animated="true"
        placeholder="Search by keyword"
      ></ion-searchbar> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="post">
      <ion-icon name="home"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-post">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add Post</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

