<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-content class="ion-padding">
  <div class="profile-wrapper mt-5_5">
    <ion-card>
      <ion-card-header>
        <small>3hours ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
        <div class="d-flex justify-content-around pt-2">
          <span class="d-flex">
            <ion-icon name="heart-outline"></ion-icon>
            <small>21</small>
          </span>
          <span class="d-flex">
            <ion-icon name="eye-outline"></ion-icon>
            <small>15</small>
          </span>
          <span class="d-flex">
            <ion-icon name="share-outline"></ion-icon>
            <small>Share</small>
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <app-comments></app-comments>

    <ion-card>
      <ion-card-header>
        <small>2mins ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <small>4mins ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <small>4mins ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <small>4mins ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <small>4mins ago</small>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
