<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="my-posts">
        <ion-label>Posts</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="bookmarks">
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>