<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Welcome</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="PostForm" (ngSubmit)="SubmitPost(PostForm.value)">
        <ion-item>
            <ion-label position="stacked">Title (make it short)</ion-label>
            <ion-input formControlName="title" placeholder="Post title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="description" rows="5"
                placeholder="Details of your post"></ion-textarea>
        </ion-item>
        <ion-button
              expand="block"
              type="Submit"
              >Submit Post
        </ion-button>
    </form>
    
  </ion-content>