<ion-content class="ion-padding">
    <div class="profile-wrapper mt-5_5">
        <ion-card *ngFor="let item of Items">
          <ion-card-header [routerLink]="['/posts',item?.id]">
            <small>{{item?.created_by}}  <ion-icon color="dark" name="stop-outline" ></ion-icon> {{ utility.castDateDifference(item?.created_on)}}</small>
            <ion-card-title [routerLink]="['/posts',item?.id]">{{item?.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="pointer" [routerLink]="['/posts',item?.id]">
               {{ utility.cutString(item?.description)}}
            </div>
            <div class="d-flex justify-content-around pt-2">
              <span class="d-flex">
                <ion-icon name="chatbubbles-outline"></ion-icon>&nbsp;
                <small>{{item?.commentCount}}</small>
              </span>
              <span class="d-flex" (click)="addBookmark(item)">
                <ion-icon name="bookmarks-outline"></ion-icon>&nbsp;
                <small>Bookmark</small>
              </span>
              <span class="d-flex pointer" (click)="copyToClip(item?.id)">
                <ion-icon name="share-outline"></ion-icon> &nbsp;
                <small>Share</small>
              </span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>