<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lobby
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lobby</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container" class="">
    <div class="p-3 mt-5 mb-5">
      <!-- <h4>Logo</h4> -->
      <!-- <img src="assets/images/lobby.jpg" /> -->
      <div class="pl-3">
         <h2>Hello. <br />
             Welcome Back 
         </h2>
      </div>
    </div>
    
    <div class="ion-margin-top ion-padding">
        <div class="mb-5">
          <div class="mb-4">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input></ion-input>
              </ion-item>
          </div>

          <div class="mb-4">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>

          <div class="w-100 mb-3">
            <ion-button expand="block">Login</ion-button>
          </div>
         <div class="d-flex justify-content-end">
            <div class="p-2">
                <small>Forgot password</small>
            </div>
            <!-- <div class="p-2">
              <small>Sign up</small>
          </div> -->
         </div>
          
        </div>

        <div class="text-center w-100">
            <a class="text-muted">Create account</a>
        </div>
    </div>
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
   -->
  </div>
</ion-content>
